.env*
env_vars.yaml
service.yaml
new_service.yaml
service-account*.json
*.yaml
*.log
api-logs.txt
build-log.txt
*-logs.json
logs-*.json
check*.js
check*.ts
patch*.js
test-*.js
test-*.ts
test-*.css
tests
**/*.test.ts
**/*.benchmark.ts
update-secrets.js
CRON_SETUP.md
README.md
.git
.gitignore
.gcloudignore
.vercel
node_modules
/.next/
/out/
/build
.dockerignore
